#canvas-container {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    border: 1px solid black;
}

#color-container {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.color-btn {

    border-radius: 100%;
    height: 50px;
    width: 50px;
    border: 2px solid black;
    background-color: var(--btn-background-color);
    cursor: pointer;
}

.color-active {

    background-color: white;
}