<div id="chat-container">
  <div class="room-number">Room ID: {{ userService.roomName }}</div>
  <div #chatBox class="chat-window" [appCreateBubble]="gameManagerService.player" [appCreateBubble]="gameManagerService.message">
  </div>
  <input #chatMessageBox type="text" class="chat-message-box" (keydown.enter)="onKeyEnter(chatMessageBox)"/>
  <input #guessBox [disabled]="gameManagerService.drawing" type="text" class="chat-message-box" (keydown.enter)="guess(guessBox.value, guessBox)" placeholder="Guess box"/>
</div>