<app-create-room (closeModalEvent)="closeCreateRoomModal($event)" (createRoomEvent)="createRoom($event)" *ngIf="isCreatingRoom"></app-create-room>
<div id="background-container">
  <div id="straight-line-container">
    <div id="background-pen"></div>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" preserveAspectRatio="none">
      <path id="#path" class="path" d="M 20 20 L 2322 20" fill="none" stroke="black" stroke-width="3" stroke-mitterLimit="10"></path>
    </svg>
  </div>
</div>
<div id="room_information_container">
  <div class="room-information-form-container">
    <app-text-input [placeHolderText]="'Player name'" (value)="setUsername($event)"></app-text-input>
    <a (click)="showCreateRoomWindow()">Create room</a>
  </div>
  <div class="room-information-form-container">
    <app-text-input [placeHolderText]="'Room name'" (value)="setRoomNumber($event)"></app-text-input>
    <a (click)="joinRoom()">Join room</a>
  </div>
</div>
<!-- maybe create two tabs one for joining a room, one for creating a room -->
