$dashArray: 770;
$animationTiming: ease-in;
$animationDuration: 5s;
$path: "M 0 0 L 500 0";

#room_information_container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#background-container {
  position: absolute;
  width: 100%;
  height: 100%;

  & #straight-line-container {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

#background-pen {
  offset-path: path($path);
  animation: move $animationDuration infinite alternate $animationTiming;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 100%;
  position: absolute;
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }
  100% {
    offset-distance: 100%;
  }
}

svg {
  position: absolute;
}

#path, #curve_path, #zig_zag_path, #dash_path {
  stroke-dasharray: $dashArray;
  stroke-dashoffset: $dashArray;
}

#path {
  animation: draw $animationDuration infinite alternate $animationTiming;
}

#curve_path {
  animation: draw $animationDuration 1s infinite alternate $animationTiming;
}

#zig_zag_path {
  animation: draw $animationDuration 2s infinite alternate $animationTiming;
}

@keyframes draw {
  0% {
    stroke-dashoffset: $dashArray;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

