<app-create-room (closeModalEvent)="closeCreateRoomModal($event)" (createRoomEvent)="createRoom($event)" *ngIf="isCreatingRoom"></app-create-room>
<div id="room_information_container">
  <div class="room-information-form-container">
    <app-text-input [placeHolderText]="'Player name'" (value)="setUsername($event)"></app-text-input>
    <a (click)="showCreateRoomWindow()">Create room</a>
  </div>
  <div class="room-information-form-container">
    <app-text-input [placeHolderText]="'Room name'" (value)="setRoomNumber($event)"></app-text-input>
    <a (click)="joinRoom()">Join room</a>
  </div>
</div>
<!-- maybe create two tabs one for joining a room, one for creating a room -->
